body {
  background-color: #D9BF97;
  background-repeat: repeat-x;
  background-image: url(../bg-body.png);
}

#visual-body-wrapper {
  background-image: url(../bg-wrap.png);
  background-color: transparent;
  background-position: 150% top;
  background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: Arial,Helvetica,sans-serif;
}

a:link, a:visited {
  color: #733D22;
}

a:hover {
  color: #75AD0A;
}

#content a:link, dl.portlet a:link {
  color: #733D22;
}

#portal-logo {
  margin: 0px;
}

#portal-personaltools {
  background-color: transparent;
}

#portal-personaltools dd {
  background-color: transparent;
}

#visual-portal-wrapper {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background: transparent;
}

#portal-top {
  background-color: transparent;
  background-image: url(../logo-bg.png);
  background-repeat: repeat-x;
}

#portal-sections-content {
  background: url("../bg-content.png") no-repeat scroll 110px 120px transparent;
}

#portal-top div.position-0 {
 width: 85%;
 margin-left: -85%;
}

#portal-sections {
  width: 135px;
  float: left;
  margin-top: 0.5em;
}

#portal-sections li {
  display: block;
}

/* Main sections buttons */
#portal-globalnav {
  background: transparent;
  margin: 0px;
}

#portal-globalnav li a {
  background-color: transparent;
  background-image: url("../button.png");
  color: #733D22;
  text-align: center;
  padding: 1em 2em;
  width: 70%;
  margin-top: 0.5em;
}

#portal-globalnav .selected a, #portal-globalnav a:hover {
  background-color: transparent;
  background-image: url("../button-selected.png");
  color: #733D22;
}

#portal-globalnav .selected a:hover {
  background: #ffffff;
  color: #733D22;
}

#portal-breadcrumbs {
  display: none;
}

#content a:visited {
  color: #733D22;
}

#portal-columns {
  margin-bottom: 1em;
  border-bottom: 1px dotted #733D22;
  background-color: #ffffff;
  width: 855px;
  min-height: 300px;
}

#portal-column-content {
  width: 95%;
  padding-left: 1em;
}

#portal-colophon {
  font-size: 85%;
  padding-bottom: 2em;
  margin-left: 135px;
}

#portal-colophon a {
  color: #733D22;
}

#portal-colophon a:hover {
  color: #75AD0A;
}

#category a.link-category {
  background: #733D22;
  color: #ffffff;
}

#category a.link-category:hover {
  background: #75AD0A;
}
