body {
  background-color: #D9BF97;
  background-repeat: repeat-x;
  background-image: url(../body-bg.png);
}

#visual-body-wrapper {
  background-image: url(../wrap-bg.png);
  background-color: transparent;
  background-position: right top;
  background-repeat: no-repeat;
}

a:link, a:visited {
  color: #733D22;
}

a:hover {
  color: #75AD0A;
}

#content a:link, dl.portlet a:link {
  color: #733D22;
}

#portal-logo {
  margin: 0px;
}

#portal-personaltools {
  background-color: transparent;
}

#portal-personaltools dd {
  background-color: transparent;
}

#visual-portal-wrapper {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  background: transparent;
}

#portal-top {
  background-color: transparent;
  background-image: url(../logo-bg.png);
  background-repeat: repeat-x;
}

#portal-top div.position-0 {
 width: 100%;
 margin-left: -100%;
}

/* Main sections buttons */
#portal-globalnav {
  background: #733D22;
  margin: 0px;
  background-image: url("../button.png");
  -moz-border-radius-topright: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
}

#portal-globalnav li:first-child a {
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
}

#portal-globalnav li a {
  background: #733D22;
  background-image: url("../button.png");
  border-right-color: #D9BF97;
  color: #ffffff;
  text-align: center;
  padding: 1em 2em;
}

#portal-globalnav .selected a, #portal-globalnav a:hover {
  background: #ffffff;
  color: #733D22;
}

#portal-globalnav .selected a:hover {
  background: #ffffff;
  color: #733D22;
}

#portal-breadcrumbs {
  display: none;
}

#content a:visited {
  color: #733D22;
}

#portal-columns {
  padding-top: 1em;
  margin-bottom: 1em;
  border-bottom: 1px dotted #733D22;
  background-color: #ffffff;
  min-height: 480px;
}

#portal-colophon {
  font-size: 85%;
  padding-bottom: 2em;
}

#portal-colophon a {
  color: #733D22;
}

#portal-colophon a:hover {
  color: #75AD0A;
}

#category a.link-category {
  background: #733D22;
  color: #ffffff;
}

#category a.link-category:hover {
  background: #75AD0A;
}
