[buildout]
extends =
  http://dist.plone.org/release/4.0.3/versions.cfg

find-links =
  http://dist.plone.org/release/4.0.3
  http://dist.plone.org/thirdparty

parts =
  instance
  zopepy
  i18ndude
  zopeskel
  test

extensions =
  mr.developer
  buildout.dumppickedversions
  buildout.threatlevel

sources = sources
versions = versions
auto-checkout = *

[sources]
ana.gheorghe          = fs ana.gheorghe
eea.facetednavigation = svn https://svn.plone.org/svn/collective/eea.facetednavigation/trunk

[versions]
z3c.form = 2.2.0

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
debug-mode = off
verbose-security = on
blob-storage = var/blobstorage

eggs =
  PIL
  Plone
  Products.LinguaPlone
  ana.gheorghe
  eea.facetednavigation

zcml =
  Products.LinguaPlone
  ana.gheorghe
  eea.facetednavigation-meta
  eea.facetednavigation

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

[i18ndude]
unzip = true
recipe = zc.recipe.egg
eggs = i18ndude

[test]
recipe = zc.recipe.testrunner
defaults = ['--auto-color', '--auto-progress']
eggs =
  ${instance:eggs}

[zopeskel]
unzip = true
recipe = zc.recipe.egg
eggs =
  ZopeSkel
  ${instance:eggs}
